---
import Layout from '../layouts/Layout.astro';
import TextCard from '../components/TextCard.astro';
---

<Layout title="About Tarot">
	<main>
		<h1><span class="text-gradient">Learn about this project</span></h1>
		
		<TextCard title="hello" text="hey"/>
		
		
	</main>
</Layout>
