---
import Layout from '../layouts/Layout.astro';
import TextCard from '../components/TextCard.astro';
---

<Layout title="Reading Tarot">
	<main>
		<h1><span class="text-gradient">How to read Tarot</span></h1>
		
		<TextCard title="How to read Tarot" text="hey"/>
		
		
	</main>
</Layout>
