---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <div id="navbar">
          <div id="logo">
            <div class="logo"><a href="/">AWS Tarot</a></div>
          </div>
          <div id="links">
            <a href="/about">About</a>
            <a href="/read">How to Read Tarot</a>
            <a href="/meanings">Meaning Match</a>
            <!--<a href="https://jenlooper.gumroad.com/l/aws-tarot"
              >Download a Printable Copy</a
            >
            <a href="https://www.etsy.com/listing/1396625030"
              >✨Buy a Printed Pack✨</a
            >-->
          </div>

          <div class="mobile-btn menu">
            <a id="menu-btn">
              <svg viewBox="0 0 100 80" width="30" height="30" fill="white">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
              </svg>
            </a>
          </div>
        </div>
      </nav>
      <!-- Mobile Menu -->
      <div id="mobile-menu" class="mobile-menu">
        <ul class="mobile-links">
          <li class="nav-list"><a href="/about">About</a></li>
          <li class="nav-list"><a href="/read">How to Read Tarot</a></li>
          <li class="nav-list"></li><a href="/meanings">Meaning Match</a>
        
        <!--<li class="nav-list">
          <a href="https://jenlooper.gumroad.com/l/aws-tarot"
            >Download a Printable Copy</a>
        </li>
        <li class="nav-list">
          <a href="https://www.etsy.com/listing/1396625030"
            >✨Buy a Printed Pack✨</a>
        </li>-->
        </ul>
      </div>
    </header>
  </body>
  <div id="particles-js"></div>
  <slot />
</html>

<script>
  import "../data/particles.js";
  
  window.particlesJS.load("particles-js", "/particles.json", function () {
    console.log("callback - particles.js config loaded");
    
  });

  const buttons = document.querySelectorAll('div.menu');

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      var x = document.getElementById("mobile-menu");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    });
  });

</script>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #8d307c 30%,
      rgb(160, 22, 202) 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: black;
    margin: 0px;
  }
  body {
    margin: 0px;
  }
  a {
    color: white;
    padding: 1.5rem;
  }
  #navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    background-image: var(--accent-gradient);
    grid-gap: 1.5em;
    padding: 0 40px;
    -webkit-box-shadow: -1px 4px 5px 0px rgb(80, 13, 80);
    -moz-box-shadow: -1px 4px 5px 0px rgb(49, 5, 49);
    box-shadow: -1px 4px 5px 0px rgb(31, 9, 31);
  }

  #logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  #links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #0474bc;
  }

  /* =======================
******* Mobile Menu ******
========================*/
  .mobile-menu {
    display: block;
    list-style-type: none;
    padding: 5px 0 5px 0;
    background-image: var(--accent-gradient);
    
   z-index: 305;
  }

  .mobile-links li {
    line-height: 2.8rem;
  }

  .mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    cursor: pointer;
  }

  .nav-list {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
  }

  .nav-list:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  /* Mobile to Tablet  */
  @media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
      display: none;
    }
  }

  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-menu,
    .mobile-btn,
    .fa-bars {
      display: none;
    }
  }
  #particles-js {
    z-index: 100;
    position: absolute;
  }
  .particles-js-canvas-el {
    width: 100vw;
    height: 100vh;
  }
</style>
